body{
    color:#fff;
}
.photo-list li{
    display:block;
    float:left;
    position:relative;
}
.photo-list li form{
    position:absolute;
    top:0px;
    left:0px;
}
.photo-list li form{
    background-color:rgba(0,0,0,0.5);
    padding:4px;
    font-size:10px;
    font-family:sans;
}
.filters a{
    color:#ccc;
}
body.filter-favorite a.on,
body.filter-hidden a.on,
body.filter-blocked a.on{
    color:green !important;
}
body.filter-favorite li{
    display:none;
}
body.filter-favorite li[data-favorite="on"]{
    display:block;
}
body.filter-hidden li[data-hide="on"],
body.filter-blocked li[data-blocked="on"]{
    display: none;

}
